@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&display=swap');


$Cyan: hsl(179, 62%, 43%);
$Bright_Yellow: hsl(71, 73%, 54%);
$Light_Gray: hsl(204, 43%, 93%);
$Grayish_Blue: hsl(217, 22%, 67%);
$Card_right: #4ABEBD;

body{
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    background-color: $Light_Gray;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container{
    //border: 1px solid red;
    width: 39.688rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0px 20px 35px 6px rgba(187, 198, 214, 0.568);
    
    h2, h3, p{
        margin: 0;
    }
    .card-top{
        padding: 6.3%;
        background-color: #ffffff;
        h2{
            color: $Cyan;
        }
        h3{
            color: $Bright_Yellow;
            font-size: 1.1rem;
            margin-top: 1.56rem;
        }
        p{
            color: $Grayish_Blue;
            margin-top: .7rem;
            line-height: 1.65rem;
            font-weight: 200;
        }
    }
    .content-bottom{
        width: 100%;
        color: #ffffff;
        display: flex;
        h3{
            font-size: 1.1rem;
            font-weight: 400;
        }
        .card-left{
            padding: 6.4% 6.3% 6.1%;
            box-sizing: border-box;
            min-width: 50%;
            background-color: $Cyan;
            .price{
                margin-top: 1.15rem;
                display: flex;
                align-items: center;
                .dollar{
                    color: #ffffff;
                    font-size: 2rem;
                    font-weight: 700;
                }
                .month{
                    text-indent: .7rem;
                    color: #85d7db;
                    margin: 0;
                }
            }
            p{
                margin-top: .4rem;
                white-space: nowrap;
                color: #d2f7f6;
            }
            button{
                width: 14.85rem;
                padding: .9rem;
                margin-top: 1.88rem;
                border: 0;
                color: #ffffff;
                font-weight: bold;
                font-size: 1rem;
                border-radius: .4rem;
                font-family: 'Karla', sans-serif;
                background-color: $Bright_Yellow;
            }
        }
        .card-right{
            min-width: 50%;
            padding: 6.4% 6.3% 6.1%;
            background-color: $Card_right;
            ul{
                width: 80%;
                padding: 0;
                margin: 0;
                margin-top: 1.2rem;
                li{
                    white-space: nowrap;
                    list-style: none;
                    font-size: .9rem;
                    color: #b6faf9;
                    line-height: 1.3rem;
                }
            }
        }
    }
}

.foot{
    position: relative;
    top: 2rem;
    font-size: 11px;
    text-align: center;
    a{
        text-decoration: none;
        color: hsl(228, 45%, 44%);
    }
}

@media screen and (max-width: 700px){
    :root{
        font-size: 14px;
    }
    .container{
        width: 83%;
        .content-bottom{
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 500px){
    :root{
        font-size: 15px;
    }
    .container{
        margin-top: 19%;
        margin-bottom: 3%;
        .card-top{
            padding: 9.1% 7.5% 10%;
            h2{
                font-size: 1.3rem;
            }
            h3{
                margin-top: 1.55rem;
                font-size: 1rem;
                line-height: 1.35rem;
            }
            p{
                font-size: .9rem;
                margin-top: 1.15rem;
                line-height: 1.75rem;
            }
        }
        .content-bottom{
            .card-left{
                padding: 7.8% 7.5% 7.8%;
                h3{
                    font-size: 1.2rem;
                }
                .price{
                    margin-top: 1.1rem;
                    .dollar{
                        font-size: 2.1rem;
                    }
                    .month{
                        font-size: 1.05rem;
                    }
                }
                p{
                    margin-top: .55rem;
                }
                button{
                    margin-top: 2rem;
                    width: 100%;
                    padding: 1rem;
                }
            }
            .card-right{
                padding: 7.5% 7.5% 7.5%;
                h3{
                    font-size: 1.25rem;
                }
                ul{
                    li{
                        line-height: 1.35rem;
                    }
                }
            }
        }
    }
    .foot{
        margin-bottom: 20px;
    }
}