@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

body{
    font-family: 'Karla', sans-serif;
}

$Cyan: hsl(179, 62%, 43%);
$Bright_Yellow: hsl(71, 73%, 54%);
$Light_Gray: hsl(204, 43%, 93%);
$Grayish_Blue: hsl(218, 22%, 67%);

.foot{
    font-size: 11px;
    text-align: center;
    a{
        text-decoration: none;
        color: hsl(228, 45%, 44%);
    }
}